<!-- FILE: views/createAccount.ejs -->
<%- include('partials/header') %>

<div class="auth-container">
    <div class="auth-card">
        <h1>Create Account</h1>
        <p class="subtitle">Join us to start tracking your business ideas</p>
        
        <% if (error) { %>
            <div class="error-message"><%= error %></div>
        <% } %>
        
        <form method="POST" action="/create-account" class="auth-form">
            <div class="form-group">
                <label for="username">Username *</label>
                <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    required 
                    autocomplete="username"
                    autofocus
                >
            </div>
            
            <div class="form-group">
                <label for="password">Password *</label>
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    required
                    autocomplete="new-password"
                >
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    id="email" 
                    name="email"
                    autocomplete="email"
                >
            </div>
            
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input 
                    type="text" 
                    id="firstname" 
                    name="firstname"
                    autocomplete="given-name"
                >
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input 
                    type="text" 
                    id="lastname" 
                    name="lastname"
                    autocomplete="family-name"
                >
            </div>
            
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
        
        <div class="auth-link">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>